#button1{
    color: #ff00ff;
    background-color: #00ff00;
}
#button2{
    color: #ffffff;
    background-color: #ffff00;
}
#button3{
    color: #aaff00;
    background-color: #000000;
}
#button4{
    color: #aaffaa;
    background-color: #aaaaaa;
}
#button5{
    color: #eeeeee;
    background-color: #555555;
}