#w{
    color: rgb(100, 200, 100);
    background-color: rgb(200, 100, 50);
}
#q{
    color: rgb(200, 80, 30);
    background-color: rgb(50, 30, 20);
}
#b{
    color: rgb(20, 60, 40);
    background-color: rgb(10, 244, 90);
}
#p{
    color: rgb(176, 190, 73);
    background-color: rgb(190, 28, 90);
}
#c{
    color: rgb(90, 60, 178);
    background-color: rgb(70, 80, 90);
}