body{
    background-image: url(image\ copy\ 2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 1550px;
}





h2{
    color: chartreuse;
}