body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
  }
  
  .header {
    background-color: green;
    padding: 20px;
    text-align: center;
  }
  
  .main {
    background-color: green;
    padding: 20px;
  }
  
  .footer {
    background-color: green;
    padding: 20px;
    text-align: center;
  }
  