/* Reset some default styling */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/* Overall body style */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Header and navigation styles */
header {
    background-color: #333;
    color: white;
    padding: 15px 0;
    text-align: center;
}

nav {
    text-align: center;
    margin-top: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Main container style */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.section {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    width: 45%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #333;
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
}


ul {
    list-style-type: square;
    padding-left: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    margin-top: 30px;
}
img{
    display: block;
    border-radius: 16px 16px;
}