#p-1{
    background-color: rgb(100, 200, 50);
    color: rgb(90, 9, 10);
}
#p-2{
    background-color: rgb(10, 20, 50);
    color: rgb(9, 9, 10);
}
#p-3{
    background-color: rgb(1, 20, 59);
    color: rgb(90, 67, 1);
}
#p-4{
    background-color: rgb(100, 200, 50);
    color: rgb(90, 9, 10);
}
#p-5{
    background-color: rgb(18, 100, 90);
    color: rgb(190, 9, 10);
}
#p-6{
    background-color: #ff00ff;
    color: #00ff00;
}
#p-7{
    background-color: #ffffff;
    color: #000000;
}
#p-8{
    background-color: #ff0000;
    color: #ffff00;
}
#p-9{
    background-color: #0000ff;
    color: #eeff00;
}
#p-10{
    background-color: #aaeeaa;
    color: #00ffee;
}