#div-1{
    height: 200px;
    width: 200px;
    background-color: #ff00ff;
}
#div-2{
    height: 200px;
    width: 200px;
    background-color: #000000;
}
#div-3{
    height: 200px;
    width: 200px;
    background-color: #00dd00;
}
#div-4{
    height: 200px;
    width: 200px;
    background-color: #ff0000;
}
#div-5{
    height: 200px;
    width: 200px;
    background-color: #ffffff;
}
#div-6{
    height: 200px;
    width: 200px;
    background-color: #0000ff;
}
#div-7{
    height: 200px;
    width: 200px;
    background-color: #eeeedd;
}
#div-8{
    height: 200px;
    width: 200px;
    background-color: #aaeedd;
}
#div-9{
    height: 200px;
    width: 200px;
    background-color: #aaaaaa;
}
#div-10{
    height: 200px;
    width: 200px;
    background-color: #aaff00;
}