body{
    background-image: url(image.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
h2,h3,p{
    color: gold;
    text-align: center;
}