#a-1{
    text-decoration: underline dashed;
}
#a-2{
    text-decoration: underline dashed;
}
#a-3{
    text-decoration: underline dashed;
}
#a-4{
    text-decoration: underline dashed;
}
#a-5{
    text-decoration: underline dashed;
}