#p-1{
    text-decoration: line-through;
}
#p-2{
    text-decoration: line-through;
}
#p-3{
    text-decoration: line-through;
}
#p-4{
    text-decoration: line-through;
}
#p-5{
    text-decoration: line-through;
}